# Ignore everything
*

# Do not ignore base objects
!LICENSE
!*/

# Whitelist scripts
!*.sh
!*.py

# Whitelist support file
!arguments/*
!steps/*
!scripts/*

# Whitelist behave
!features/*

# Ignore personal scripts
personal